Source: regress-stack
Section: python
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Build-Depends:
 debhelper-compat (= 13),
 dh-python,
 pybuild-plugin-pyproject,
 python3-all,
Build-Depends-Indep:
 python3-apt,
 python3-networkx,
 python3-openstackclient,
 python3-pyroute2,
 python3-pytest,
Standards-Version: 4.6.1
Vcs-Git: https://github.com/gboutry/regress-stack
Vcs-Browser: https://github.com/gboutry/regress-stack

Package: python3-regress-stack
Architecture: all
Depends:
 crudini,
 python3-tempestconf,
 tempest,
 ${misc:Depends},
 ${python3:Depends},
Description: Regression testing tools for Ubuntu OpenStack
 regress-stack provides setup and testing tools for configuration
 and testing of Ubuntu OpenStack packages.
 .
 This package contains the regress-stack tooling.

Package: openstack-functional-core
Architecture: all
Depends:
 ceph-mgr,
 ceph-mon,
 ceph-osd,
 ceph-volume,
 cinder-api,
 cinder-scheduler,
 cinder-volume,
 default-mysql-server,
 glance-api,
 heat-api,
 heat-api-cfn,
 heat-engine,
 heat-tempest-plugin,
 keystone,
 neutron-ovn-metadata-agent,
 neutron-server,
 nova-api,
 nova-compute,
 nova-conductor,
 nova-scheduler,
 nova-spiceproxy,
 ovn-central,
 ovn-host,
 placement-api,
 python3-regress-stack,
 rabbitmq-server,
 ${misc:Depends},
Description: Dependency package for testing OpenStack Core
 regress-stack provides setup and testing tools for configuration
 and testing of Ubuntu OpenStack packages.
 .
 This package is a dependency package for testing of all core
 Ubuntu OpenStack projects.
