Package: python3-regress-stack
Source: regress-stack
Version: 0.0.1~pre2
Architecture: all
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Installed-Size: 89
Depends: crudini, python3-tempestconf, tempest, python3-apt, python3-networkx, python3-openstackclient, python3-pyroute2, python3:any
Section: python
Priority: optional
Description: Regression testing tools for Ubuntu OpenStack
 regress-stack provides setup and testing tools for configuration
 and testing of Ubuntu OpenStack packages.
